{
  "html-whitespace-sensitivity": "ignore",
  "singleQuote": true,
  "semi": false,
  "tabWidth": 2,
  "bracketSpacing": true,
  "jsxBracketSameLine": true,
  "trailingComma": "all",
  "arrowParens": "always",
  "tslintIntegration": true
}
