.el-dialog__header {
    border: 0;
}
.el-dialog {
    border-radius: 8px !important;
}
/*在Chrome下移除input[number]的上下箭头*/
.no-number::-webkit-outer-spin-button,
.no-number::-webkit-inner-spin-button {
    margin: 0;
    -webkit-appearance: none !important;
}

.no-number input[type="number"]::-webkit-outer-spin-button,
.no-number input[type="number"]::-webkit-inner-spin-button {
    margin: 0;
    -webkit-appearance: none !important;
}

/*在firefox下移除input[number]的上下箭头*/
.no-number {
    -moz-appearance: textfield;
}

.no-number input[type="number"] {
    -moz-appearance: textfield;
}

.el-button > span {
    font-family: DINPro-Regular, Ali-Regular;
}

.el-form-item__label:before {
    display: none;
}

.el-form-item .is-required {
    position: relative;
}

.nameDialog {
    position: relative;

    .el-dialog__header {
        display: none !important;
    }

    .el-dialog__body {
        padding: 36px 30px 25px;
    }

    .el-input__inner {
        height: 50px;
    }

    .dialog-close {
        position: absolute;
        right: 14px;
        top: 14px;
        font-size: 18px;
        cursor: pointer;
    }
}
.tokenDialog {
    .el-dialog__header {
        height: 57px;
        color: #333;
        font-weight: 500;
        font-size: 14px;
        border-bottom: 1px solid #eee !important;
        margin-right: 0;
        line-height: 20px;
        display: flex;
        align-items: center;
        padding: 0 20px;
    }

    .el-dialog__body {
        padding: 20px;
    }
}

.el-popper {
    max-width: 380px;
    box-shadow: 3px 3px 5px 0px rgba(51, 51, 51, 0.3);
    font-size: 14px;
    color: #333333;
}
.starterDialog {
    min-height: 670px;
}
