@font-face {
  font-family: "PingFangSC-Regular";
  src: url("../font-mini/PingFangSC-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "PingFangSC-Semibold";
  src: url("../font-mini/PingFangSC-Semibold.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "PingFangSC-Medium";
  src: url("../font-mini/PingFangSC-Medium.otf");
  font-weight: normal;
  font-style: normal;
}
