@import "../font/font.scss";
/* color palette from <https://github.com/vuejs/theme> */

/* semantic color variables for this project */
:root {
  --color-background: #ffffff;
  --color-text: #333333;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--vt-c-black);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  font-family: DINPro-Regular, Ali-Regular, "Microsoft YaHei", Helvetica, sans-serif;
  font-size: 14px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-y: auto;
  overflow-x: hidden;
}

.min-height {
  min-height: calc(100vh - 70px);
}

.font-regular {
  font-family: DINPro-Regular, Ali-Regular;
}

.font-bold {
  font-family: DINPro-Bold, Ali-Bold;
}

.font-medium {
  font-family: DINPro-Medium, Ali-Medium;
}
// 与内置重名了 改成当前名称 仅匹配英文
.black-font {
  font-family: Montserrat-Black, Ali-Bold;
}

#app {
  width: 100vw;
  height: 100vh;
}
