.layout-mian-wrap {
  width: calc(100vw - 219px);
  height: calc(100vh - 70px);
  overflow: auto;
}
.com-mian {
  width: 1200px;
  margin: 0 auto;
}

.border-bottom {
  border-bottom: 1px solid #eeeeee;
}

.com-button {
  font-size: 14px;
  font-weight: 500;
  background: #2b60e9;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.rotate-180 {
  transform: rotate(180deg);
}

.main-w {
  width: calc(100vw - 219px);
}

.com-border-eee {
  border: 1px solid #eeeeee;
}

.com-table {
  .el-table__header .el-table__cell {
    border-bottom: none;
    height: 50px;
  }
  .el-table__body .el-table__row {
    height: 70px;
  }
}

.ellipse {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
