.layout-mian-wrap{
  width: calc(100vw - 219px);
  height: calc(100vh - 70px);
  max-width: 1200px;
  margin: 0 auto;
  overflow: auto;
}
@media screen and (max-width: 1000px)  {
  .com-mian{
    width: 1000px;
  }
}

.border-bottom {
  border-bottom: 1px solid #EEEEEE;
}


.com-button{
  font-size: 14px;
  font-weight: 500;
  background: #2B60E9;
  color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
}
.rotate-180 {
  transform: rotate(180deg);
}

.main-w{
  width: calc(100vw - 219px) ;
}

.com-border-eee{
border: 1px solid #EEEEEE;
}