.border-bottom {
  border-bottom: 1px solid #EEEEEE;
}

.com-button{
  font-size: 14px;
  font-weight: 500;
  background: #2B60E9;
  color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
}