#app
  .el-input__inner
    height 32px
    line-height 32px
  .el-input__icon
    line-height 32px
  .el-date-editor .el-range__icon, .el-date-editor, .el-date-editor  .el-input__icon
    line-height 26px

  // select
  .el-select-dropdown__item
    line-height 30px
    height 30px

  // dialog
  .el-dialog__header
    .el-dialog__title
      text-align: left
      color: #333333
      font-size: 14px
      font-weight: bold
    padding: 16px 20px 12px 20px
    background-color: #F2F2F2
  .el-dialog__body
    padding: 20px 0 10px 0
    .el-form-item
      margin-bottom: 20px
      .el-form-item__label
        font-size: 12px
        line-height: 30px
        color: rgba(0, 0, 0, .85)
      .el-form-item__content
        width: 390px
        line-height: 30px
        .el-input__inner, .el-textarea__inner
          font-size: 12px
  .el-dialog__footer
    border-top: 1px solid #f8f8f8
    padding: 10px 20px

.el-message-box
  width: 456px !important
  .el-message-box__header
    padding: 15px
    line-height: 20px
    height: 20px
    .el-message-box__title
      font-size: 14px
      color: rgba(0, 0, 0, .85)
  .el-message-box__message p
    color: rgba(0, 0, 0, 0.85)

.el-drawer
  width: 724px !important
  padding: 0 26px
  .el-drawer__header
    font-size: 16px
    padding: 24px
    margin: 0
    border-bottom: 1px solid #E9E9E9

.el-collapse-item
  .el-collapse-item__header
    font-size: 14px
    color: rgba(0, 0, 0, 0.85)
    height: 44px
  .el-collapse-item__arrow
    display: none
// tooltip
.el-tooltip__popper
  max-width 306px
.el-tooltip__popper.is-dark
  font-size 14px;
  line-height 22px;
  box-shadow 0px 2px 8px 0px rgba(0,0,0,0.15)
// 自定义按钮
.jz-el-button,.jz-el-button--primary
  width 100px
  height 34px
  line-height 32px
  box-sizing: border-box;
  border-radius: 0px;
  font-size 14px
  text-align center
  border 1px solid rgba(15, 98, 254, 1)
  color rgba(15, 98, 254, 1)
  cursor pointer
  transform 0.6s
.jz-el-button:hover
  color #fff
  background rgba(15, 98, 254, 1)
.jz-el-button--primary
  color #fff
  background rgba(15, 98, 254, 1)
  border-radius: 0px;
.jz-el-button--primary:hover
  background rgba(3, 83, 233, 1)
// 自定义Tab
.nav-muen
  display flex
  .nav-muen-item
    width 180px
    margin-right 4px
    padding: 12px 68px 10px 18px;
    box-sizing: border-box;
    border-bottom 2px solid rgba(224, 224, 224, 1)
    cursor pointer
    font-size: 14px;
    letter-spacing: 0.16px;
    color: #393939;
    transform 0.4s
  .nav-muen-item:hover
    border-bottom 2px solid rgba(111, 111, 111, 1)
  .nav-muen-item.active
    border-bottom 2px solid rgba(15, 98, 254, 1)
    color #393939
    font-weight: 650;
    font-style: normal;