/* http://meyerweb.com/eric/tools/css/reset/
   v5.0.1 | 20191019
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
menu,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
main,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section {
    display: block;
}
/* HTML5 hidden-attribute fix for newer browsers */
*[hidden] {
    display: none;
}

* {
    box-sizing: border-box;
}

*::before,
*::after {
    box-sizing: border-box;
}

body {
    line-height: 1;
    font-size: 14px;
    box-sizing: border-box;
    letter-spacing: 0;
}
html,
body {
    position: relative;
    font-family: DINPro-Regular, Ali-Regular, Helvetica, sans-serif, "Microsoft YaHei";
}
menu,
ol,
ul {
    list-style: none;
}
blockquote,
q {
    quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*包含以下四种的链接*/
a {
    text-decoration: none;
}
/*正常的未被访问过的链接*/
a:link {
    text-decoration: none;
}
/*已经访问过的链接*/
a:visited {
    text-decoration: none;
}
/*鼠标划过(停留)的链接*/
a:hover {
    text-decoration: none;
}
/* 正在点击的链接*/
a:active {
    text-decoration: none;
}

:focus {
    outline: none;
}

.router-link-active {
    text-decoration: none;
}
.font-r {
    font-family: Ali-Regular;
}
.font-m {
    font-family: Ali-Medium;
}
.font-b {
    font-family: Ali-Bold;
}
.pointer {
    cursor: pointer;
}

.notAllowed {
    cursor: not-allowed;
}

.x-hidden {
    overflow-x: hidden !important;
}

.strong {
    color: #3aff82;
}

.pr10 {
    padding-right: 10px;
}

/*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/
::-webkit-scrollbar {
    width: 0px;
    height: 0px;
    background-color: #f5f5f5;
}

/*定义滚动条轨道 内阴影+圆角*/
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #f5f5f5;
}

/*定义滑块 内阴影+圆角*/
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #c8c8c8;
}

* {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.clearfix {
    &:after {
        content: "";
        display: block;
        clear: both;
    }
}

.mb12 {
    margin-bottom: 12px;
}

.el-dialog {
    border-radius: 16px;
}

.connector-dialog {
    .el-dialog__body {
        height: 240px;
        padding: 30px 20px 30px;
    }
    .connector-title {
        text-align: center;
        color: #000;
        font-weight: 500;
        font-size: 26px;
        margin: 10px 0;
    }
}

.view-btn {
    display: inline-block;
    margin-top: 50px;
    padding: 10px 44px;
    background: url("../images/home/1.butt.svg") no-repeat;
    background-size: 100%;
    color: #090916;
}

.hidden {
    visibility: hidden;
}

.ellipsis {
    text-overflow: -o-ellipsis-lastline;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.el-table th.el-table__cell {
    padding: 4px 0;
}
.el-table {
    font-size: 12px;
    border-top: 1px solid #ebeef9;
    border-left: 1px solid #ebeef9;
    border-right: 1px solid #ebeef9;
    border-radius: 2px 2px 0px 0px;
}

.warn-btn {
    color: #f24b4b !important;
}

.warn-dialog-box {
    & .el-dialog {
        width: 400px;
        background: #fbfcfd;
        border: 1px solid #ebeef9;
        border-radius: 2px;
        .warn-title {
            text-align: left;
            height: 14px;
            font-family: DINPro-Medium, Ali-Medium;
            font-size: 14px;
            color: #333333;
            line-height: 14px;
        }
        .warn-content {
            font-family: DINPro-Medium, Ali-Medium;
            font-size: 14px;
            color: #120d33;
            line-height: 24px;
            margin-bottom: 36px;
        }
        .btn {
            width: 120px;
            height: 36px;
        }
    }
    & .el-dialog__body {
        padding: 20px 30px;
    }
    & .el-dialog__header {
        padding: 18px 20px;
        border-bottom: 1px solid #ebeef9;
    }
}

.el-input--small,
.el-form-item__content {
    font-size: 12px;
}

.mt40 {
    margin-top: 40px;
}

.pd20 {
    padding: 20px;
}

.el-dialog {
    border-radius: 2px;
}

.tooltip-box {
    max-width: 400px;
}
