@font-face {
  font-family: "Ali-Regular";
  src: url("./ali/Alibaba-PuHuiTi-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Ali-Medium";
  src: url("./ali/Alibaba-PuHuiTi-Medium.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Ali-Bold";
  src: url("./ali/Alibaba-PuHuiTi-Bold.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "DINPro-Regular";
  src: url("./din/D-DIN-PRO-Regular.otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "DINPro-Medium";
  src: url("./din/D-DIN-PRO-Medium.otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "DINPro-Bold";
  src: url("./din/D-DIN-PRO-Bold.otf");
  font-weight: normal;
  font-style: normal;
}